*{margin:0;}
body{display:flex; flex-direction:column; height:100vh;}
.head{display:flex; justify-content:space-between; padding:20px 30px; align-items:center;}
.head a{margin-right:20px; color:#000000de; font-size:15px; text-decoration:inherit;}
.head a:hover{text-decoration:underline;}
.head_right{display:flex; align-items:center; min-width:13vw; justify-content:space-between;}
.head_right .app{margin-right:10px;}
.main{flex:1; display:flex; margin-top:12%; flex-direction:column;}
.main img{object-fit:contain; height:100px;}
.search_bar{display:flex; align-items:center; border:1px solid #d3d3d3; height:30px; padding:10px 20px; border-radius:999px; width:75vw; margin:0 auto; margin-top:40px; max-width:560px;}
.search_bar input{flex:1; padding:10px 20px; border:none; outline:none;}
.search_bar .material-icons{color:gray;}
.buttons{margin-top:30px; display:flex; justify-content:center;}
.buttons button{margin:5px; padding:10px 15px; background-color:#f8f8f8; outline:none; border:none; cursor:pointer;}
.foot{display:flex; justify-content:space-between; align-items:center; height:50px; background-color:#f1eeee;}
.foot a{margin-right:20px; color:#535353f3; font-size:15px; text-decoration:inherit; font-size:15px}
.foot .foot_center{text-align:center;}